body {
    background-color: #f9f9f9;
    padding: 50px;
    font-family: 'Jost', sans-serif;
}

h1 {
    margin: 0 0 20px;
    color: #222;
}

h2 {
    color: #252323;
    font-weight: 500;
}

p,
ul {
    margin: 0 0 20px;
}

h1,
h2 {
    line-height: 1.1;
}

header {
    width: 270px;
    float: left;
    position: fixed;
    -webkit-font-smoothing: subpixel-antialiased;
}

.name a {
    font-size: 32px;
    font-weight: 600;
    color: #222;
    text-decoration: none;
}

.cover img {
    max-width: 100%;
}

.tabs {
    text-decoration: none;
    color: #393939;
    margin: 5.5px;
}

.tab_names {
    list-style: none;
    height: 40px;
    padding: 0;
    background: #F0F0F0;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    width: 270px;
}

.nav-links {
    font-size: 14px;
    display: block;
    text-align: center;
    width: 89px;
    float: left;
    border-right: 1px solid #e0e0e0;
    height: 40px;
}

.nav-links:first-child a {
    border-radius: 5px 0 0 5px;
}

.nav-links:last-child a {
    border-radius: 0 5px 5px 0;
}

.tab_names .nav-links+.nav-links+.nav-links {
    border-right: none;
    width: 89px;
}

.nav-links a {
    line-height: 1;
    font-size: 14px;
    display: block;
    text-align: center;
    padding-top: 6px;
    text-decoration: none;
}

.nav-links a:hover {
    color: #232222;
    font-weight: 600;
}

.logos {
    width: 100%;
}

.introduction h1 {
    font-size: 30px;
}

.introduction p {
    margin-top: 3px;
    font-size: 14px;
}

.introduction p a:link,
.introduction p a:visited {
    text-decoration: none;
    color: #0570b0;
}

.introduction p a:hover {
    color: #045a8d;
    font-weight: 600;
}

.liverpool p {
    font-size: 14px;
}

.liverpool a {
    text-decoration: none;
    color: #C8102E;
}

.liverpool a:hover {
    font-weight: 600;
}

a small {
    font-size: 15px;
    color: #777;
    margin-top: -0.3em;
    display: block;
    text-align: center;
}

a:hover small {
    color: #777;
}

.wrapper {
    width: 860px;
    margin: 0 auto;
}

.logos {
    list-style: none;
    height: 40px;
    padding: 0;
    width: 270px;
    text-align: center;
}

.logos a {
    text-decoration: none;
}

.logo_image:hover {
    opacity: 0.5;
    transform: scale(1.2)
}

.logo_image {
    margin: 0px 14px;
}

section {
    width: 500px;
    float: right;
    padding-bottom: 50px;
}

small {
    font-size: 11px;
}

hr {
    border: 0;
    background: #e5e5e5;
    height: 1px;
    margin: 0 0 20px;
}

footer {
    width: 270px;
    float: left;
    position: fixed;
    bottom: 50px;
    -webkit-font-smoothing: subpixel-antialiased;
}

@media print,
screen and (max-width: 960px) {
    div.wrapper {
        width: auto;
        margin: 0;
    }
    header,
    section,
    footer {
        float: none;
        position: static;
        width: auto;
    }
    header {
        padding-right: 320px;
    }
    section {
        border: 1px solid #e5e5e5;
        border-width: 1px 0;
        padding: 20px 0;
        margin: 0 0 20px;
    }
    header a small {
        display: inline;
    }
    .tab_names {
        position: absolute;
        right: 50px;
        top: 52px;
    }
    /* without this, icons would be on top of tabs*/
    .logos {
        position: absolute;
        right: 50px;
        top: 112px;
    }
}

@media print,
screen and (max-width: 720px) {
    body {
        word-wrap: break-word;
    }
    header {
        padding: 0;
    }
    .tab_names,
    .logos,
    header p.view .container {
        position: static;
    }
    pre,
    code {
        word-wrap: normal;
    }
}

@media print,
screen and (max-width: 480px) {
    body {
        padding: 15px;
    }
    .tab_names,
    .logos {
        width: 99%;
    }
    .nav-links,
    .logos,
    .tab_names li+li+li {
        width: 33%;
    }
}

@media print {
    body {
        padding: 0.4in;
        font-size: 12pt;
        color: #444;
    }
}


/* https://codepen.io/ArnaudBalland/pen/vGZKLr?editors=1100 -- for Project pictures
*/

.container {
    padding: 1em 0;
    width: 75%;
}

.content {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
}

.content .content-overlay {
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    /*
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    */
}

.content-image {
    width: 100%
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /*
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    */
}


/* makes image transparent, but keeps text opaque*/

.content:hover .content-image {
    opacity: 0.3
}

.content:hover .content-details {
    opacity: 1;
}

.content-details p {
    color: black;
    text-align: center;
    font-size: 125%;
}


/* makes image transparent, but keeps text opaque*/